/*--------- body CSS --------*/
body {
  background-color: #393E46;
}
/*--------- Heading CSS -------*/
h1 {
  text-align: center;
  margin: 30px;
  font-family: 'Lobster', cursive;
  text-shadow: 2px 2px red;
  font-size: 8rem;
  color: #4ECCA3;
}
h2 {
  text-align: center;
  margin: 30px;
  font-family: 'Lobster', cursive;
  text-shadow: 2px 2px white;
  font-size: 4rem;
  color: black;
}
/*-------- Container -------*/
.Container{
  width: 70%;
  margin: auto;
  text-align: center;
}
/*--------- Paragraph CSS -------*/
p{
  font-size: 2rem;
  color: #4ECCA3;
  font-family: 'Indie Flower', cursive;
}
/*------ Footer ------*/
footer {
  margin-top: 5%;
  color: #EEEEEE;
  text-align: center;
  font-family: 'Indie Flower', cursive;
}
/*-------- Dicee CSS -------*/
.dice1{
  text-align: center;
  display: inline-block;
}

.dice2{
  text-align: center;
  display: inline-block;
}
